.titleContainer {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.title {
  padding: 2px;
}
.backButton {
  outline: none;
  border: none;
  background: #f0f6ff;
  border-radius: 50px;
  color: #4da2d6;
  font-size: 10px;
  padding: 5px;
  min-width: 62px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.backButton.active {
  color: white;
  background: #4da2d6;
}
.backButton::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: url("../../assets/img/svg-symbols/arrow-right.svg") center/cover
    no-repeat;
  filter: brightness(0) saturate(100%) invert(72%) sepia(17%) saturate(4214%)
    hue-rotate(174deg) brightness(86%) contrast(93%);
  transform: rotate(180deg);
  margin-right: 5px;
}

.mlmPartnerInfo {
  padding: 40px 30px 50px 40px;
  background: #fff;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
}
.userInfoContent {
  display: flex;
  width: 100%;
  font-family: "Proxima Nova", serif;
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.cardHeader_name {
  font-weight: bold;
  font-size: 15px;
  line-height: 138.3%;
}
.cardHeader_info {
  display: flex;
  align-items: center;
  background: #f8fff1;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  width: 30%;
}
.cardHeader_icon {
  padding: 2px;
}
.listValues .row:nth-child(2n) {
  position: relative;
  background: #f4f8fe;
}

.row {
  display: inline-block;
  width: 100%;
  line-height: 46px;
  vertical-align: middle;
}

.cell {
  display: inline-block;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.avatar {
  border-radius: 50%;
}
.photo {
  width: 80%;
}
.photoContainer {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.photoContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lastActive {
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
}
.lastActivePoint {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #c4c4c4;
  margin-right: 5px;
}
.closeIcon :hover {
  fill: black;
}

.buttonRow {
  width: 80%;
  text-align: center;
}

.summary {
  padding-right: 20px;
  padding-top: 10px;
}

.cardItem {
  display: inline-block;
  font-size: 12px;
  width: 100%;
  padding: 5px 0 5px 5px;
}

.cardItem .label {
  display: inline-block;
  width: 75%;
  text-align: left;
  font-weight: 400;
  color: #2c2f33;
}

.cardItem .valueBold {
  display: inline-block;
  width: 25%;
  text-align: right;
  font-weight: 700;
  color: #4da2d6;
}

.cardItem .value {
  display: inline-block;
  width: 25%;
  text-align: right;
  font-weight: 400;
  color: #4da2d6;
}

.left {
  width: 45%;
}

.right {
  width: 55%;
}

.cell.label {
  width: 40%;
  padding-left: 24px;
  font-size: 12px;
  color: #b5b5b5;
}

.cell.value {
  width: 40%;
  font-size: 12px;
  color: #2c2f33;
}

.cell.value.phone {
  color: #4da2d6;
}

.cell.value.email {
  color: #39961e;
}

.renderStructureGraph {
  padding-right: 20px;
  padding-top: 10px;
  position: relative;
}
.card {
  background: #f4f8fe;
}

@media screen and (min-width: 1100px) {
  .left {
    width: 35%;
  }

  .right {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {
  .userInfoContent {
    display: flex;
    flex-direction: column;
  }

  .photo {
    width: 100%;
  }

  .buttonRow {
    width: 100%;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 65%;
  }

  .right {
    width: 100%;
  }

  .cardHeader {
    flex-wrap: wrap;
  }

  .cardHeader_info,
  .cardHeader_name {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.icon {
  color: rgb(14, 17, 219);
}

.iconButton {
  outline: none;
  border: none;
  padding: 5px 10px;
  background: #f0f6ff;
  margin: 2px;
  width: 20%;
  cursor: pointer;
}
.tooltipText {
  padding: 0px 10px;
}
.tooltip {
  padding-left: 5px;
  padding-right: 5px;
  height: 35px;
  font-size: 12px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
  background: white;
  text-align: center;
  line-height: 35px;
  white-space: nowrap;
}
.tooltipButton {
  outline: none;
  border: none;
  color: #4da2d6;
  font-size: 10px;
  line-height: 12px;
  padding: 0px 10px;
  background: #ffffff;
  border-radius: 2px;
}

.tooltipButton:active {
  color: blue;
}
