.checkboxesItem {
  composes: checkboxes__item from '../../index.css';
}

.checkbox {
  composes: checkbox from '../../index.css';
}

.checkboxLabel {
  composes: checkbox__label from '../../index.css';
  font-size: 14px;
}

.checkboxField {
  composes: checkbox__field from '../../index.css';
}

.checkboxPh {
  composes: checkbox__ph from '../../index.css';
  border-color: #ddd;
  border-radius: 2px;
  padding: 3px;
  margin: 0 10px 0 0;
}
.checkboxPh.sign {
  background: #fff;
}
.checkboxField:checked + .checkboxPh .tick {
  background: #39961e;
  border-radius: 2px;
  width:100%;
  height:100%;
}
.checkboxField.sign:checked + .checkboxPh .tick {
  background: #08a5d8;
  border-radius: 2px;
  width:100%;
  height:100%;
}
.svgIcoTick {
  composes: svg-icon from '../../index.css';
  composes: ico-tick from '../../index.css';
}

.checkboxTitle {
  composes: checkbox__title from '../../index.css';
}
