.inputBoxMb30 {
  composes: input from '../../index.css';
  composes: input--box  from '../../index.css';
  composes: mb30  from '../../index.css';
}

.inputFieldDate {
  composes: input__field from '../../index.css';
  composes: input__field--date from '../../index.css';
}
