/*.select {*/
    /*composes: select from '../../index.css'; !*height:46px;*!*/
    /*!*border: 1px solid #ced9eb;*!*/
    /*!*border-radius: 5px;*!*/
    /*!*background-color: white;*!*/
/*}*/
.selectItem{

}
/*.select:after {
  content: "";
  right: 37px;
  background-color: #CED9EB;
  display: block;
  width: 1px;
  height: 46px;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}*/
/*.selectItem .Select-arrow-zone{*/
    /*display: none;*/
/*}*/
.select {
    position: relative;
    margin-bottom: 20px;
}
.inputIcoRequired{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f97b7c;
}
.inputIcoRequiredSucceess{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #56daa1;
}
.inputName {
    font-size: 14px;
    position: absolute;
    top: 13px;
    background: transparent;
    padding: 0 7px;
    left: 5px;
    color: hsl(0,0%,50%);
    letter-spacing: 0.5px;
    z-index:0;
    transition:all .3s ease;
}
.inputNameShow {
    z-index: 2;
    top: -10px;
    background: #fff;
    left: 14px;
    font-size: 12px;
}