.treeItem{
    display:flex;
    align-items: center;
    width: 80%;
    max-width: 300px;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0px;
    min-height: 50px;
    position: relative;
    margin-left: 10px;
}

.userAvatarWrapper {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.userAvatar {    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.userName {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.treeItem::before {
    content: "";
    width: 35px;   
    border-left: 1px solid #D3EEFF;
    border-bottom: 1px solid #D3EEFF;
}

.icon {
    width: 10px;
    height: 10px;    
    margin-right: 2px;
    color: rgb(14, 17, 219);
  }
