.h1 {
  composes: h1 from '../index2.css';
  text-align: center;
}
.layoutEntry {
  composes: layout from '../index.css';
  composes: layout--entry from '../index.css';
}
.header {
  box-shadow: 0 7px 7px -1px rgba(0,0,0,0.1);
  background: #fff;
}
.gridEntryHeader {
  composes: grid from '../index.css';
  composes: entry-header from '../index.css';
}
.gridCellTodaymeLogo {
  composes: grid__cell from '../index.css';
  composes: todayme-logo from '../index.css';
}
.entryBg {
  composes: entry__bg from '../index.css';
}
.container{
  box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 50px;
}
.layout {
  composes: layout from '../index2.css';
}

.layoutInner {
  composes: layout__inner from '../index2.css';
  font-family: "StyreneBLC-Regular", sans-serif;
}
.layoutInner h1 {
  font-family: "StyreneBLC-Regular", sans-serif;
}
.grid {
  composes: grid from '../index2.css';
}
.gridCellLayoutContentPocket34 {
  width:100%;
   composes: grid__cell from '../index2.css';
 }

.gridCellHeaderLogoTele2{
  width: 33.33333%;
  composes: grid__cell from '../index2.css';
  composes: header__logo from '../index2.css';
  font-size:18px;
  text-transform: uppercase;
  color: #fff;
}
.tele2Logo{
  cursor: pointer;
  width: 155px !important;
  margin-top: 10px;
  min-width:150px;
}
.p{
  margin:12px 0;
 }
.h2{
  margin: 20px 0;
}
.gridHeaderInner {
  height:78px;
  margin: 0 auto;
  max-width: 1200px;
 }

.alfa .header {
  background-color: #213349;
}

.alfa .gridHeaderInner {
  height: 78px;
  display: flex;
  align-items: center;
}
.alfa .tele2Logo {
  margin-top: 25px;
}
.alfa .gridCellHeaderLogoTele2 {
  text-align: left;
  margin-left:-10px;
}
@media screen and (max-width: 1025px) {
  .alfa .gridHeaderInner {
    height:48px;
  }
  .alfa .gridCellHeaderLogoTele2 {
    margin-left:30px;
  }
}