.layoutEntry {
  composes: layout from '../index.css';
  composes: layout--entry from '../index.css';
  display: flex;
  min-height: 100vh;
  height: initial;
}
.gridEntry {
  display: flex;
  flex-direction: column;
  width:50%;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
}

.gridEntryHeader {
  composes: grid from '../index.css';
  composes: entry-header from '../index.css';
  height: fit-content;
  padding: 50px;
  
}

.gridCellTodaymeLogo {
  composes: grid__cell from '../index.css';
  composes: todayme-logo from '../index.css';
}
.entryMin {
  composes: entry from '../index.css';
  composes: entry--min from '../index.css';
  height: 70%;
  width:470px;
  margin-bottom: 150px;
  
}
.entryInner {
  composes: entry__inner from '../index.css';
  padding-bottom:10px;
  background-color: transparent;
}
.entryHeader {
  
}
.entryTitleCenter {
  composes: entry__title from '../index.css';
  composes: text-center from '../index.css';
  color: #08a5d8;
}
.entryBox {
  composes: entry__box from '../index.css';
}
.entryNavMtb20 {
  composes: entry-nav from '../index.css';
  composes: mtb20 from '../index.css';
}
.entryNavItem {
  composes: entry-nav__item from '../index.css';
}
.textCenterMb10 {
  composes: text-center from '../index.css';
  composes: mb10 from '../index.css';
}

.socialSignin {
  composes: social-signin from '../index.css';
}

.socialSigninItemFb {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--fb from '../index.css';
}

.socialSigninItemVk {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--vk from '../index.css';
}

.socialSigninItemOk {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--odnoklassniki from '../index.css';
}

.svgIconFb {
  composes: svg-icon from '../index.css';
  composes: ico-fb from '../index.css';
}

.svgIconVk {
  composes: svg-icon from '../index.css';
  composes: ico-vk from '../index.css';
}

.svgIconOk {
  composes: svg-icon from '../index.css';
  composes: ico-odnoklassniki from '../index.css';
}

.entryBg {
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background: #21ACE1;
}
.entry__bg svg {
  width: 100%;
  height: 100%;
}
.buttonSecondaryWide {
  composes: btn from '../index.css';
  composes: btn--secondary  from '../index.css';
  composes: wide  from '../index.css';
}
.btnAction {
  composes: btn from '../index.css';
  composes: btn--secondary  from '../index.css';
  margin-top: 15px;
}
.btnClose{
  composes: btnAction;
  background-color: #ef3124;
  width:60%;
}
.optionsWhiteThreeValMt30 {
  composes: options from '../index.css';
  composes: options--white  from '../index.css';
  composes: options--three-val  from '../index.css';
  composes: mt30  from '../index.css';
}

.optionsWhiteTwoVal {
  composes: options from '../index.css';
  composes: options--white  from '../index.css';
  composes: options--two-val  from '../index.css';
}

.entryProgramPriceMb10 {
  composes: entry-program-price from '../index.css';
  composes: mb10  from '../index.css';
}

.inputBoxBtn {
  composes: input from '../index.css';
  composes: input--box from '../index.css';
  composes: input--btn from '../index.css';
}

.btnSecondary {
  composes: btn from '../index.css';
  composes: btn--secondary from '../index.css';
}

@media screen and (min-width: 1025px) {
  .width25 {
    width: 25%;
  }
  .width50 {
    width: 50%;
  }
}

.deskGridCellTodaymeLogo14 {
  width: 100%;
  composes: grid__cell from '../index.css';
  composes: todayme-logo from '../index.css';
  display: flex;
  justify-content: center;
}

.deskGridCellTextCenter24 {
  width: 40%;
  composes: grid__cell from '../index.css';
  composes: text-center from '../index.css';
}
.closeWrap{
  text-align: center;
  margin-bottom: 15px;
 }
.textTitleCenter{
  margin-bottom: 20px;
  color: #fff;
}
.entryStep {
  composes: entry-step from '../index.css';
}
.entryStepTele2 {
  composes: entryStep;
  color: #000;
}
.entryStepTitle {
  composes: entry-step__title from '../index.css';
}
.alfaColor{
  color: #fe2f1d;
}
.entryStepNo {
  composes: entry-step__no from '../index.css';
}

.entryStepGoto {
  composes: entry-step__go-to from '../index.css';
}
.optionsItemIsActive {
  composes: options__item from '../index.css';
  composes: is-active from '../index.css';
}

.optionsItem {
  composes: options__item from '../index.css';
}

.inputField {
  composes: input__field from '../index.css';
}

.colorHeader {
  composes: entry__header from '../index.css';
  composes: entry__header--colorful from '../index.css';
}

.entryHeaderHero {
  composes: colorHeader;
  background-image: radial-gradient(at 70% 120%, #762FB3 3%, #261DB4 100%);
  border-radius: 17px 17px 0 0;
}

.entryHeaderMother {
  composes: colorHeader;
  background-image: radial-gradient(at 70% 120%, #ffe799 -14%, #42b0ba 72%);
  border-radius: 17px 17px 0 0;
}

.entryHeaderExtreme {
  composes: colorHeader;
  background-image: linear-gradient(-44deg, #5bffe2 0%, #005fff 51%, #ee0652 100%, #ff0045 100%);
  border-radius: 17px 17px 0 0;
}

.entryHeaderTomorrow {
  composes: colorHeader;
  background-image: radial-gradient(at 70% 120%, #ef9227 0%, #e5522b 83%);
  border-radius: 17px 17px 0 0;
}
.entryHeaderTitle{
  composes: entry__title from '../index.css';
  composes: entry__title--auth from '../index.css';
  composes: text-center from '../index.css';
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}
.entryHeaderTitleTele2{
  composes: entry__title from '../index.css';
  composes: entry__title--auth from '../index.css';
  composes: text-center from '../index.css';
  color: #ff6633;
}
.notify{
  margin-bottom: 30px;
}
.notifyItem{
  background: #56daa1;
  position: relative;
  padding: 20px 60px;
  color: #fff;
  margin-bottom: 2px;
}
.notifyClose{
  position: absolute;
  right:26px;
}
.notifyCloseIcon{
  fill:#fff;
  height: 30px;
  width: 20px;
  cursor: pointer;
}
.notifyItemLink{
  color: #fff;
}
.center{
  display: flex;
  justify-content: center;
}
.alfaBg{
  max-width: 100%;
  width:100%;
  height:100%;
}
.alfa .entryInner {
  background-color: transparent;
  font-family: "StyreneBLC-Regular";
}
.alfa .entryHeaderTitle {
  color: #fff;
  font-family: "StyreneBLC-Thin";
}
.alfa .entryHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1025px) {

  .entryMin {
    width:100%;
    margin-top:0;
  }
  .entryBg img {
    display: none;
  }
  .alfaBgMobile {
    background-color: #213349;
  }
}
@media screen and (max-width: 768px) {
  .layoutEntry {
    /* justify-content: stretch; */
  }
  .deskGridCellTodaymeLogo14 {
    width:auto;
  }
  .gridEntry {
    width: 100%;
  }
  .gridEntryHeader {
    padding: 5px;
  }
}
