.layoutEntry {
  composes: layout from '../index.css';
  composes: layout--entry from '../index.css';
  display: flex;
  min-height: 100vh;
  height: initial;
}

.gridEntry {
  display: flex;
  flex-direction: column;
  width:50%;
  align-items: center;
  min-height: 100vh;
}

.gridEntryHeader {
  composes: grid from '../index.css';
  composes: entry-header from '../index.css';
  height: 35%;
  align-items: initial;
  padding-top: 50px;
}

.gridCellTodaymeLogo {
  composes: grid__cell from '../index.css';
  composes: todayme-logo from '../index.css';
  display: flex;
  justify-content: center;
  width: 100%;
}

.entryMin {
  composes: entry from '../index.css';
  composes: entry--min from '../index.css';
  height: 65%;
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }

.entryInner {
  composes: entry__inner from '../index.css';
  background-color: transparent;
}

.entryHeader {
  composes: entry__header from '../index.css';
}

.entryTitleCenter {
  composes: entry__title from '../index.css';
  composes: text-center from '../index.css';
  font-weight: bold;
  font-size: 23px;
  line-height: 37px;
}
.entryTitleCenterAlfa {
  composes: entryTitleCenter;
  color: #fe2f1d;
}
.entryBox {
  composes: entry__box from '../index.css';
}

.entryNavMtb20 {
  composes: entry-nav from '../index.css';
  composes: mtb20 from '../index.css';
}

.entryNavItem {
  composes: entry-nav__item from '../index.css';
}

.textCenterMb10 {
  composes: text-center from '../index.css';
  composes: mb10 from '../index.css';
}

.socialSignin {
  composes: social-signin from '../index.css';
}

.socialSigninItemFb {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--fb from '../index.css';
}

.socialSigninItemVk {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--vk from '../index.css';
}

.socialSigninItemOk {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--odnoklassniki from '../index.css';
}

.svgIconFb {
  composes: svg-icon from '../index.css';
  composes: ico-fb from '../index.css';
}

.svgIconVk {
  composes: svg-icon from '../index.css';
  composes: ico-vk from '../index.css';
}

.svgIconOk {
  composes: svg-icon from '../index.css';
  composes: ico-odnoklassniki from '../index.css';
}

.entryBg {
  composes: entry__bg from '../index.css';
  background: #21ACE1;
}

.buttonSecondaryWide {
  composes: btn from '../index.css';
  composes: btn--secondary  from '../index.css';
  composes: wide  from '../index.css';
  color: #08a5d8;
  background-color: #fff;
  font-size: 18px;
}

.injectedSvg {
  composes: injected-svg from '../index.css';
}
.btnPrimary{
  composes: btn from '../index.css';
  composes: btn--primary from '../index.css';
  width:100%;
}
.title{
  margin-bottom: 15px;
}
.alfaBg{
  max-width: 100%;
  /*height: 100%;*/
  width:100%;
  height:100%;
}

.alfa .entryInner {
  background: transparent;
}
.alfa .entryTitleCenter {
  color: #fff;
  font-family: "StyreneBLC-Thin";
}

.center{
  display: flex;
  justify-content: center;
}
.center .gridCellTodaymeLogo {
  width:auto;
}
@media screen and (max-width: 1025px) {
  .entryMin {
    width:100%;
  }
  .gridEntryHeader {
    margin-bottom: 60px;
  }
  .entryBg img {
    display: none;
  }
  .alfaBgMobile {
    background-color: #213349;
  }
}

@media screen and (max-width: 768px) {
  .gridEntry {
    width: 100%;
  }
  .gridEntryHeader {
    padding-top: 0px;
  }
}


.modal {
  max-width: 300px;
}