.layoutEntry {
  composes: layout from '../index.css';
  composes: layout--entry from '../index.css';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gridEntryHeader {
  composes: grid from '../index.css';
  composes: entry-header from '../index.css';
}

.gridCellTodaymeLogo {
  composes: grid__cell from '../index.css';
  composes: todayme-logo from '../index.css';
  display: flex;
  justify-content: center;
}

.entryMin {
  composes: entry from '../index.css';
  composes: entry--min from '../index.css';
  height:auto;
  width: 470px;
}

.entryInner {
  composes: entry__inner from '../index.css';
}

.entryHeader {
  composes: entry__header from '../index.css';
}

.entryTitleCenter {
  composes: entry__title from '../index.css';
  composes: text-center from '../index.css';
}
.entryTitleCenterAlfa {
  composes: entryTitleCenter;
  color: #fe2f1d;
}
.entryBox {
  composes: entry__box from '../index.css';
}
.entryBox p {
  margin-bottom:7px;
}

.entryNavMtb20 {
  composes: entry-nav from '../index.css';
  composes: mtb20 from '../index.css';
}

.entryNavItem {
  composes: entry-nav__item from '../index.css';
}

.textCenterMb10 {
  composes: text-center from '../index.css';
  composes: mb10 from '../index.css';
}

.socialSignin {
  composes: social-signin from '../index.css';
}

.socialSigninItemFb {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--fb from '../index.css';
}

.socialSigninItemVk {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--vk from '../index.css';
}

.socialSigninItemOk {
  composes: social-signin__item from '../index.css';
  composes: social-signin__item--odnoklassniki from '../index.css';
}

.svgIconFb {
  composes: svg-icon from '../index.css';
  composes: ico-fb from '../index.css';
}

.svgIconVk {
  composes: svg-icon from '../index.css';
  composes: ico-vk from '../index.css';
}

.svgIconOk {
  composes: svg-icon from '../index.css';
  composes: ico-odnoklassniki from '../index.css';
}

.entryBg {
  composes: entry__bg from '../index.css';
  background: #21ACE1;
}

.buttonSecondaryWide {
  composes: btn from '../index.css';
  composes: btn--secondary  from '../index.css';
  composes: wide  from '../index.css';
}

.injectedSvg {
  composes: injected-svg from '../index.css';
}
.btnPrimary{
  composes: btn from '../index.css';
  composes: btn--primary from '../index.css';
  width:100%;
}
.title{
  margin-bottom: 15px;
}
.alfaBg{
  max-width: 100%;
  /*height: 100%;*/
  width:100%;
  height:100%;
}
.center{
  text-align: center;
}

.entryNavLink{
  margin-top: 20px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .layoutEntry {
    padding: 0 20px;
    justify-content: stretch;
  }
  .entryMin {
    width: 100%;
  }

  .gridEntryHeader {
    margin-bottom: 30px;
  }

  .entryBg img {
    display: none;
  }
}