.entryHeader {
  composes: entry__header from '../index.css';
}

.entryTitleCenter {
  composes: entry__title from '../index.css';
  composes: text-center from '../index.css';
}

.layoutLogin {
  composes: layout from '../index.css';
  composes: layout--login from '../index.css';
}

.btnPrimary{
  composes: btn from '../index.css';
  composes: btn--primary from '../index.css';
  width:100%;
}
.modal {
  max-width: 300px;
}