.chatNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
}
.navTitle {
  display: flex;
  align-items: center;
  text-align: center;
}
.backBtn {
  background: #f0f6ff;
  border-radius: 50px;
  font-size: 10px;
  line-height: 12px;
  color: #4da2d6;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.backBtn::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: url("../../assets/img/svg-symbols/arrow-right.svg") center/cover
    no-repeat;
  filter: brightness(0) saturate(100%) invert(72%) sepia(17%) saturate(4214%)
    hue-rotate(174deg) brightness(86%) contrast(93%);
  transform: rotate(180deg);
  margin-right: 5px;
}

.backBtnMobile {
  display: none;
  

}
.chatName {
  font-size: 15px;
  font-weight: bold;
}
.chatMembers {
  font-size: 12px;
  color: #b5b5b5;
}
.pinnedIcon {
  padding: 10px;
  margin-left: 5px;
}
.icon {
  width: 15px;
  height: 15px;
}
.menuBtn {
  outline: none;
  border: none;
  background-color: white;
}
.popupMenuList {
  position: absolute;
  right: 0;
  z-index: 5;
  background: white;
  padding: 10px;
  font-size: 12px;
  line-height: 15px;
  margin-left: auto;
  width: 50%;
  max-width: 180px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.popupMenuItem {
  padding: 5px;
}
.popupMenuItem:active {
  background: #ecf6fd;
}
.popupMenuicon {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.popupMenuButton {
  outline: none;
  border: none;
  background-color: inherit;
}
.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
}
.searchInputBox {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid #e0edff;
  width: 90%;
  max-width: 570px;
}

.svgIconFile {
  width: 16px;
  height: 16px;
}
.searchIcon {
  background: url("../../assets/img/svg-symbols/ico-input-search.svg")
    center/cover no-repeat;
  filter: brightness(0) saturate(100%) invert(72%) sepia(17%) saturate(4214%)
    hue-rotate(174deg) brightness(86%) contrast(93%);
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-right: 10px;
}
.searchInput {
  width: 90%;
  border: none;
}
.approveButton,
.cancelButton {
  border: 1px solid #4da2d6;
  outline: none;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 4px 6px;
  border-radius: 2px;
  margin: 0px 5px;
  width: 65px;
}
.approveButton {
  background: #4da2d6;
  color: white;
}
.approveButton:active {
  background: #4da2d6;
  color: #ffffff;
}

.cancelButton {  
  color: #4da2d6;
  background-color: white;
}

.calendarIcon {
  background: url("../../assets/img/svg-symbols/calendar.svg") center/cover
    no-repeat;
  filter: brightness(0) saturate(100%) invert(72%) sepia(17%) saturate(4214%)
    hue-rotate(174deg) brightness(86%) contrast(93%);
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-right: 10px;
}
.popupMenuItem {
  display: flex;
  align-items: center;
}
.popupMenuIcon {
  height: 20px;
  width: 20px;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .backBtn {
    display: none;
  }

  .backBtnMobile {
    all: unset;
    display: block;    
    background-color: rgba(196, 196, 196, 0.13);
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  .backBtnMobile::before {
    content: "";
    display: inline-block;
    background: url("../../assets/img/svg-symbols/arrow-right.svg") center/cover
    no-repeat;
    filter: brightness(0) saturate(100%) invert(72%) sepia(17%) saturate(4214%)
    hue-rotate(174deg) brightness(86%) contrast(93%);
    transform: rotate(180deg);
    width: 25px;
    height: 25px;
    margin: 5px;
  }

  .navTitle {
    text-align: left;
  }
}
