.pendingProfilesItemStatus {
  composes: pending-profiles__item-status from '../../index.css';
}

.pendingProfilesItem {
  composes: pending-profiles__item from '../../index.css';
}

.pendingProfilesItemLink {
  composes: pending-profiles__item-link from '../../index.css';
}

.pendingProfilesItemName {
  composes: pending-profiles__item-name from '../../index.css';
}

.pendingProfilesItemTimestamp {
  composes: pending-profiles__item-timestamp from '../../index.css';
}

.pendingProfiles {
  composes: pending-profiles from '../../index.css';
}
