.stageBoxBigPadding {
  composes: stage-box from "../../index2.css";
  composes: stage-box--big-padding from "../../index2.css";
  border: none;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
}

.stageBoxInner h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #4da2d6;
}

.bigHr {
  color: #e0edff;
  margin: 15px -30px 30px -30px;
}

.mlmRegistrationHeader {
  composes: mlmRegistrationHeader from "../../modules/Mlm/MlmRegistration/styles.css";
}

.title {
  composes: title from "../../modules/Mlm/MlmRegistration/styles.css";
}

.mlmRegistrationHeader__step {
  composes: mlmRegistrationHeader__step from "../../modules/Mlm/MlmRegistration/styles.css";
}

.mlmRegistrationHeader__stepOf {
  composes: mlmRegistrationHeader__stepOf from "../../modules/Mlm/MlmRegistration/styles.css";
}

.info {
  composes: info from "../../modules/Mlm/MlmRegistration/styles.css";
  margin-bottom: 30px;
}

.info-icon {
  composes: info-icon from "../../modules/Mlm/MlmRegistration/styles.css";
}

.info-text {
  composes: info-text from "../../modules/Mlm/MlmRegistration/styles.css";
  max-width: 60%;
}

.info-text-bold {
  composes: info-text-bold from "../../modules/Mlm/MlmRegistration/styles.css";
}

.info-btn {
  composes: info-btn from "../../modules/Mlm/MlmRegistration/styles.css";
  max-width: fit-content;
  width: fit-content;
}

.btnSaveData {
  composes: btnSaveData from "../../modules/Mlm/MlmRegistration/styles.css";
}

.h1 {
  composes: h1 from "../../index2.css";
  margin-bottom: 10px;
}
.h2 {
  composes: h2 from "../../index2.css";
  color: #4da2d6;
  font-size: 16px;
  font-weight: bold;
}

.hr2 {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: inset;
  height: 1px;
  border: none;
  background-color: #ced9eb;
}
.width50 {
  width: 100%;
}

.grid {
  composes: grid from "../../index.css";
  margin-left: 0;
}

.gridCell12 {
  composes: width50;
  composes: grid__cell from "../../index2.css";
  padding-left: 0;
}
.gridCell33 {
  composes: gridCell33 from "../../modules/Mlm/MlmRegistration/styles.css";
}

.input {
  composes: input from "../../index2.css";
  margin-bottom: 15px;
}

.inputColor {
  color: #908a8a;
  font-size: 14px;
}

.svgIconAccordion {
  composes: svg-icon from "../../index2.css";
  z-index: 0;
  width: 9px;
  height: 8px;
  position: absolute;
  bottom: 17px;
  right: 15px;
  pointer-events: none;
  stroke: #696868;
}

.inputFieldWrap {
  composes: input__field-wrap from "../../index2.css";
}

.checkbox {
  composes: checkbox from "../../index2.css";
}

.profileBtnsSave {
  composes: profile-btns-save from "../../index2.css";
  margin-top: 40px;
}

.btnPrimaryCenter {
  composes: btn from "../../index2.css";
  composes: btn--primary from "../../index2.css";
  margin: 0 auto;
  background-color: #39961e;
  padding: 16px 20px 17px;
  border-radius: 4px;
}
.btnPrimaryCenter:hover {
  background: #2f8d14;
}
.note {
  font-size: 14px;
}
.noteLink {
  color: #4da2d6;
}
.btnLoad {
  composes: btnPrimaryCenter;
  margin-top: 20px;
  background-color: #4da2d6;
}
.avatarWrap {
  composes: avatar-wrap from "../../index2.css";
  composes: text-center from "../../index2.css";
  background-color: #fff;
  width: 260px;
  height: 260px;
  border: 2px dashed #4da2d6;
  margin: 15px 0;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
}

.avatarProfile {
  composes: avatar from "../../index2.css";
  composes: avatar--profile from "../../index2.css";
  width: 100%;
  height: 100%;
}

.avatarUpload {
  height: 10%;
  cursor: pointer;
  composes: avatar--upload from "../../index2.css";
}

.uploadFileInput {
  display: none;
}
.avatarDesc {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #2c2f33;
  margin-bottom: 18px;
}
.avatarImgWrap {
  position: relative;
  height: 100%;
}
.avatarBlock {
  width: 100%;
  font-size: 14px;
}
.avatarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatarImg {
  /*max-width: 100%;*/
  position: relative;
  z-index: 5;
  /*width:100%;*/
  height: 100%;
}
.avatarInfo {
  font-size: 14px;
  padding: 20px;
}
.avatarText {
  position: absolute;
  color: #fff;
  margin-top: 37px;
  font-family: "Exo 2", Arial, Tahoma, sans-serif;
  font-weight: 700;
}
.avatarInfoItem {
  display: flex;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}
.avatarInfoText {
  color: #b9b0b0;
  margin-right: 8px;
}

.svgIconCalendar {
  width: 20px;
  height: 20px;
  color: #39961e;
  margin-top: 3px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.checkboxMb10Mt10 {
  composes: checkbox from "../../index2.css";
  margin-bottom: 10px;
  margin-top: 10px;
}
/* .avatarWrap {
  composes: avatar-wrap from "../../index2.css";
  composes: text-center from "../../index2.css";
  background-color: #fff;
  width: 136px;
  height: 136px;
  border: 2px dashed #4da2d6;
  margin: 20px 0;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
}

.avatarProfile {
  composes: avatar from "../../index2.css";
  composes: avatar--profile from "../../index2.css";
  width: 100%;
  height: 100%;
} */

.avatarUpload {
  height: 10%;
  cursor: pointer;
  composes: avatar--upload from "../../index2.css";
}

.uploadFileInput {
  display: none;
}
.avatarImgWrap {
  position: relative;
  height: 100%;
}
.avatarBlock {
  width: 100%;
  font-size: 14px;
}
.avatarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatarImg {
  /*max-width: 100%;*/
  position: relative;
  z-index: 5;
  /*width:100%;*/
  height: 100%;
}
.avatarCropper {
  height: 160px;
}
.avatarInfo {
  font-size: 14px;
  padding: 20px;
}
.avatarText {
  position: absolute;
  color: #fff;
  margin-top: 37px;
  font-family: "Exo 2", Arial, Tahoma, sans-serif;
  font-weight: 700;
}
.avatarInfoItem {
  display: flex;
  margin-bottom: 10px;
}
.avatarInfoText {
  color: #b9b0b0;
  margin-right: 8px;
}
.socialSignin {
  composes: social-signin from "../../index2.css";
}

.socialSigninItemFb {
  composes: social-signin__item from "../../index2.css";
  composes: social-signin__item--fb from "../../index2.css";
}
.socialSigninItemVk {
  composes: social-signin__item from "../../index2.css";
  composes: social-signin__item--vk from "../../index2.css";
}
.socialSigninItemOk {
  composes: social-signin__item from "../../index2.css";
  composes: social-signin__item--odnoklassniki from "../../index2.css";
}
.socialSigninItemIn {
  composes: social-signin__item from "../../index2.css";
  composes: social-signin__item--vk from "../../index2.css";
  background-color: #222;
}
.socialSigninItemGp {
  composes: social-signin__item from "../../index2.css";
  composes: social-signin__item--vk from "../../index2.css";
  background-color: #f95858;
}
.svgIconFb {
  composes: svg-icon from "../../index2.css";
  composes: ico-fb from "../../index2.css";
  fill: #fff;
}
.svgIconVk {
  composes: svg-icon from "../../index2.css";
  composes: ico-vk from "../../index2.css";
  fill: #fff;
}
.svgIconOk {
  composes: svg-icon from "../../index2.css";
  composes: ico-odnoklassniki from "../../index2.css";
  fill: #fff;
}
.svgIconGp {
  composes: svg-icon from "../../index2.css";
  composes: ico-vk from "../../index2.css";
  fill: #fff;
  width: 25px;
  height: 22px;
}
.svgIconIn {
  composes: svg-icon from "../../index2.css";
  composes: ico-vk from "../../index2.css";
  fill: #fff;
  height: 20px;
}
.svgIconCalendar {
  width: 20px;
  height: 20px;
  color: #39961e;
  margin-top: 3px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.checkboxMb10Mt10 {
  composes: checkbox from "../../index2.css";
  margin-bottom: 10px;
  margin-top: 10px;
}

.svgIconTick {
  composes: svg-icon from "../../index2.css";
  composes: ico-tick from "../../index2.css";
}
.svgIconTickActive {
  composes: svg-icon from "../../index2.css";
  composes: ico-tick from "../../index2.css";
  fill: #70cffe !important;
}

.info_blue {
  width: 100%;
  padding: 15px 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  background: #F0F6FF;
  border-radius: 2px;
  font-size: 15px;
  line-height: 18px;
  color: #4DA2D6;
}

.info_blue::before {
  content: '';
  display: block;
  width: 15px;
  min-width: 15px;
  height: 15px;
  margin-right: 15px;
  background: url('../../assets/img/svg-symbols/ico-info.svg') center/cover no-repeat;
}

.groupDanger {
  border: 1px solid #f27576;
  background: #d2929214;
  margin: 20px -25px;
  padding: 30px 25px 10px;
  border-radius: 3px;
  border-left-width: 5px;
}

@media screen and (min-width: 1025px) {
  .h1 {
    margin-left: -40px;
  }
  .width25 {
    width: 25%;
  }
  .width33 {
    width: 33%;
  }
  .width75 {
    width: 75%;
  }

  .stageBoxInner {
    padding: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .stageBoxInner {
    padding: 0 20px;
    box-shadow: none;
  }
  .stageBoxInner:first-child {
    padding-top: 50px;
  }

  .stageBoxInner:last-child {
    padding-bottom: 20px;
  }

  .info {
    flex-wrap: wrap;
  }

  .info-btn {
    margin-top: 20px;
  }

  .info-text {
    max-width: 100%;
  }

  .info-icon {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .width50 {
    width: 50%;
  }
  .gridCell12:first-child {
    padding-right: 15px;
  }
  .gridCell12:last-child {
    padding-left: 15px;
  }
  .avatarContent {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .hr2 {
    margin-left: -80px;
    margin-right: -80px;
  }
}
