.radioButtonText {
  composes: radio-button-text from '../../../index.css';
}

.radioButtonLabel {
  composes: radio-button-label from '../../../index.css';
}

.radioButtonControl {
  composes: radio-button-control from '../../../index.css';
}

.promoReportFilterGroup {
  composes: promo-report-filter-group from '../../../index.css';
}

.inputFieldDate {
  composes: input__field from '../../../index.css';
  composes: input__field--date from '../../../index.css';
}

.promoTags {
  composes: promo-tags from '../../../index.css';
}
