.gender {
  composes: gender from '../../index.css';
}

.low {
  composes: low from '../../index.css';
}

.baseTableBtnDel {
  composes: base-table__btn-del from '../../index.css';
}

.svgIcoTrash {
  composes: svg-icon from '../../index.css';
  composes: ico-trash from '../../index.css';
}
.titleField{
  display: flex;
  justify-content: space-between;
}
.title{
  composes: h2 from '../../index.css';
  margin-right:30px;
  line-height: 45px;
  margin-bottom: 0;
}
.mainNav {
  composes: main-nav from '../../index.css';
}

.mainNavItem {
  composes: main-nav__item from '../../index.css';
}

.minCalendar {
  composes: min-calendar from '../../index.css';
}

.isVideoBox {
  composes: is-video__box from '../../index.css';
}

.isVideoLabel {
  composes: is-video__label from '../../index.css';
}

.genderTitle {
  composes: gender__title from '../../index.css';
}

.btnPrimary {
  composes: btn from '../../index.css';
  composes: btn--primary from '../../index.css';
}

@media screen and (min-width: 1025px) {
  .width33 {
    width: 33.33333%;
  }
  .width66 {
    width: 66.66667%;
  }
  .width25 {
    width: 25%;
  }
  .width50 {
    width: 50%;
  }
  .width75 {
    width: 75%;
  }
}

.gridCellLayout33 {
  composes: width33;
  composes: grid__cell from '../../index.css';
}

.gridCellLayout50 {
  composes: width50;
  composes: grid__cell from '../../index.css';
}

.gridCellLayoutIsVideo50 {
  composes: width50;
  composes: is-video from '../../index.css';
  composes: grid__cell from '../../index.css';
}

.gridLayoutMenuInner {
  composes: grid from '../../index.css';
  composes: layout__menu-inner from '../../index.css';
}

.gridCellLayout66 {
  composes: width66;
  composes: grid__cell from '../../index.css';
  /*composes: 1/1--pocket from '../../index.css';*/
}

.gridCellLayoutMenu14 {
  composes: width25;
  composes: grid__cell from '../../index.css';
  composes: layout__menu from '../../index.css';
}

.gridCellLayoutContentPocket34 {
  composes: width75;
  composes: grid__cell from '../../index.css';
  /*composes: 1/1--pocket from '../../index.css';*/
}

.grid {
  composes: grid from '../../index.css';
}

.stageBoxSmallPadding {
  composes: stage-box from '../../index.css';
  composes: stage-box--small-padding from '../../index.css';
}

.deskGridCell12Mb30 {
  composes: width50;
  composes: grid__cell from '../../index.css';
  composes: mb30 from '../../index.css';
}

.btnSecondary {
  composes: btn from '../../index.css';
  composes: btn--secondary  from '../../index.css';
}

.homeRoot {
  width: 100%;
  display: flex;
  font-family: Roboto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.homeList {
  margin-top: 20px;
}
.homeListItem {
  margin-bottom: 10px;
}
.homeWrapper {
  margin-top: 10px;
  width: 100%;
  display: block;
  height: 100%;
}
.homeEditor {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
  height: 80%;
}
.homeToolbar {
  width: 100%;
}
