.UserContactButtonsContainer {
  width: 100%;
  margin-top: 10px;
}

.iconButton {
  outline: none;
  background: #f0f6ff;
  padding: 11px 21px;
  border: none;
  margin-right: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconButton:last-child {
  margin-right: none;
}

.iconsBlock {
  display: flex;
  width: fit-content;
  border-radius: 2px;
}

.chatText {
  font-size: 15px;
  line-height: 18px;
  color: #4da2d6;
  margin-left: 20px;
}

.background-color-white {
  background-color: #ffffff;
}
