.layout {
  composes: layout from '../../index2.css';
  position: relative;
}
.textCenter {
  composes: text-center from '../../index2.css';
}

.layoutInner {
  composes: layout__inner from '../../index2.css';
  padding-top:90px !important;
  min-width:320px;
}
.layoutWrap {
  box-shadow: 1px 1px 9px rgba(0,0,0,0.1);
}
.layoutWrapSmm {
  box-shadow: none;
}
.buttonAction {
  composes: btn from '../../index.css';
  composes: btn--action  from '../../index.css';
  background-color: #ef3124;
  margin-top:20px;
}
.hidden{
  opacity:0.4;
  pointer-events: none;
}
.btnAction {
  composes: btn from '../../index.css';
  composes: btn--secondary  from '../../index.css';
  background-color: #ff6633;
  position: fixed;
  z-index: 2;
}
.alfa {
  background-color: #213349;
}

@media screen and (max-width: 1024px) {
  .layoutInner {
    padding-top:55px !important;
  }
  .layoutAlfa{
    background-color: #fff;
  }
  .btnAction{
    display: none;
  }
  .gridCellLayoutContentPocket34 {
    padding-top: 20px;
  }
}


.grid {
  composes: grid from '../../index2.css';
}

.stageBoxInner{
  composes: stage-box__inner from '../../index2.css';
}

@media screen and (min-width: 1025px) {
  .width25 {
    width: 25%;
  }
  .width75 {
    width: 75%;
  }

  .stageBoxInner:first-child{
    padding-top: 40px;
  }
  .stageBoxInner:last-child{
    padding-bottom: 25px;
  }
}


.gridCellLayoutMenu14 {
  composes: width25;
  composes: grid__cell from '../../index2.css';
  composes: layout__menu from '../../index2.css';
}

.gridLayoutMenuInner {
  composes: grid from '../../index2.css';
  composes: layout__menu-inner from '../../index2.css';
  overflow: scroll;
  max-height: calc(100vh - 78px);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.gridLayoutMenuInner::-webkit-scrollbar {
  display: none;
}
.gridCellLayoutContentPocket{
  width:100%;
}
.gridCellLayoutContentPocket34 {
  composes: width75;
  composes: grid__cell from '../../index2.css';
}
@media screen and (min-width: 1025px) {
    .gridLayoutMenuInner {
        position: fixed;
        width: 25%;
        max-width: 295px;
    }
  .buttonAction {
    margin-bottom: 15px;
    width: 165px;
  }
}


.stageBoxSmallPadding {
  composes: stage-box from '../../index2.css';
  composes: stage-box--small-padding from '../../index2.css';
}

.h1 {
  composes: h1 from '../../index2.css';
}


.menuMobBottom {
  composes: menu-mob-bottom from '../../index2.css';
    z-index:13;
}

.menuMobBottomItem {
  composes: menu-mob-bottom__item from '../../index2.css';
}

.menuMobBottomItemActive {
  composes: menu-mob-bottom__item from '../../index2.css';
  composes: menu-mob-bottom__item--active from '../../index2.css';
}

.menuMobBottomItemInner {
  composes: menu-mob-bottom__item-inner from '../../index2.css';
}

.menuMobBottomIco {
  composes: menu-mob-bottom__ico from '../../index2.css';
}

.svgIcoTasksMobile {
  composes: svg-icon from '../../index2.css';
  composes: ico-m-tasks from '../../index2.css';
}

.svgIcoBookMobile {
  composes: svg-icon from '../../index2.css';
  composes: ico-m-book from '../../index2.css';
}

.svgIcoFoodMobile {
  composes: svg-icon from '../../index2.css';
  composes: ico-m-food from '../../index2.css';
}

.svgQuizMobile {
  composes: svg-icon from '../../index2.css';
  composes: ico-m-book from '../../index2.css';
}

.svgIcoFaqMobile {
  composes: svg-icon from '../../index2.css';
  composes: ico-m-faq from '../../index2.css';
}

.svgIcoPhoto {
  composes: svg-icon from '../../index2.css';
  composes: ico-m-photo from '../../index2.css';
}

.svgIcoArrowUp {
  composes: svg-icon from '../../index.css';
  width: 40px;
  height: 40px;
}

.menuMobBottomTitle {
  composes: menu-mob-bottom__title from '../../index2.css';
}
.svgIcoBookMobile {
  composes: svg-icon from '../../index2.css';
  composes: ico-m-book from '../../index2.css';
}
@media screen and (min-width: 1280px) {
}