.answer {
  display: flex;
  align-items: center;
  padding: 13px 20px;
  margin-left: 20px;
  background: #F6FFF1;
  border-radius: 2px;
}

.answer-user {
  margin-top: 10px;
}

.answer__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.answer__main {
  display: block;
}

.answer__title {
  display: flex;
  align-items: center;
}

.answer__userName {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #39961E;
  margin-right: 20px;
}

.answer__text {
  font-size: 12px;
  line-height: 15px;
}

.answer__btn {
  all: unset;
  margin-left: 20px;
  cursor: pointer;
}

.answer__btn-text {
  display: flex;
  font-size: 12px;
  line-height: 15px;
  color: #4DA2D6;
}

.answer__btn-text::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 5px;
  background: url('../../../../../../assets/img/svg-symbols/ico-edit.svg') center/6px no-repeat;
  background-color: #4DA2D6;
}