.allDayCheckbox {
    display: flex;
    align-items: center;
}

.allDayCheckbox__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; 
}

.allDayCheckbox__label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    color: #39961E;
    cursor: pointer;
}

.allDayCheckbox__label::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background: url('../../../../../../assets/img/svg-symbols/ico-small-check-unchecked.svg') center/cover no-repeat;
}

.allDayCheckbox__input:checked + .allDayCheckbox__label::before {
    background: url('../../../../../../assets/img/svg-symbols/ico-small-check-checked.svg') center/cover no-repeat;
}