.plans {
  display: flex;

  @include av-mq(portable) {
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;
  }

  &__plan {
    @include av-mq(desk) {
      padding: 0 4%;
      width: 33.33%;

      &:not(:last-child) {
        border-right: 1px solid $c-border;
      }
    }
    @include av-mq(portable) {
      padding: 4% 0;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid $c-border;
      }
    }
  }

  &__plan-title {
    font-size: $fz-h1;
    font-family: $f-headline;
    font-weight: 700;
  }

  &__plan-sub-title {
    font-family: $f-headline;
    font-weight: 700;
    font-size: $fz-h3;
    margin-bottom: $base-margin;
    padding-bottom: $base-margin;
    border-bottom: 1px solid $c-border;
  }

  &__text {
    @include av-mq(desk) {
      min-height: 80px;
    }
  }

  &__plan-price {
    font-size: $fz-h1;
    font-family: $f-headline;
    font-weight: 700;
    margin-bottom: $base-margin;
  }

  &__plan-currency {
    font-size: $fz-h3;
  }
}
