.mainNav {
  composes: main-nav from '../../index.css';
}

.profile {
  composes: profile from '../../index.css';
}

.profileName {
  composes: profile__name from '../../index.css';
}

.profileSubText {
  composes: profile__sub-text from '../../index.css';
}

.gridCellLayoutMenuNav23 {
  composes: grid__cell from '../../index2.css';
  composes: layout__menu-nav from '../../index2.css';
  height: calc(100vh - 86px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bannerLs {
  composes: banner-ls from '../../index.css';
  overflow: hidden;
}
.bannerLsLink{
  composes: bannerLs ;
  cursor: pointer;
  display: block;
}
.bannerLsItem {
  composes: banner-ls__item from '../../index.css';
}

.seasonImage {
  width: 180px;
  border-radius: 6px;
  max-width: 100%;
}

.menuMobLeft {
  composes: menu-mob-left from '../../index2.css';
}

.menuMobLeftInner {
  composes: menu-mob-left__inner from '../../index2.css';
  max-width:300px !important;
}

.menuMobLeftIcoClose {
  composes: menu-mob-left__ico-close from '../../index2.css';
  top: 60px !important;
}

.svgIconClose {
  composes: svg-icon from '../../index2.css';
  composes: ico-close from '../../index2.css';
}

.menuMobLeftLogo {
  composes: menu-mob-left__logo from '../../index2.css';
}

.svgIconLogoWeb {
  composes: svg-icon from '../../index2.css';
  composes: ys-logo-web from '../../index2.css';
}

.uniproLogo{
  margin-top: 48px;
  width:150px;
}

@media screen and (max-width: 1024px) {
  .gridCellLayoutMenuNav23 {
    display: none;
  }
}