.stageBoxSmallPaddingBoxStyle1 {
  composes: stage-box from '../../index2.css';
  composes: stage-box--small-padding from '../../index2.css';
  composes: box-style-1 from '../../index2.css';
  margin-bottom: 20px !important;
}

.stageBoxInner {
  composes: stage-box__inner from '../../index2.css';
  padding: 29px 40px 35px !important;
}
.musicItemBtnLink{
  color: #fff;
  text-decoration: none;
}
.musicList{
  display: flex;
}
.musicItem{
  display: flex;
  width:50%;
  padding-right: 10px;
}
.musicItem:last-child{
  padding-left: 10px;
  padding-right:0;
}
.musicItemImage{
  margin-right:20px;
  display: flex;
  flex-direction: column;
}
.musicItemPic{
  height: 80px;
  margin-top: 15px;
}
.musicItemImg{
  border-radius: 5px;
}
.musicItem:last-child .musicItemImg{
/*  margin-top:-20px;*/
}

.musicItemDesc{
  font-size:14px;
  color: #7c7c7c;
  margin: 5px 0;
}
.trackNumber{
  margin-right:4px;
}
.musicItemLink{
  font-size:14px;
}
.musicItemText{
  display: flex;
  flex-direction: column;
  padding-top: 6px;
/*  flex-grow: 1*/
}
.musicItemBtn{
  margin-top:auto;
  cursor: pointer;
  border-radius: 25px;
  font-family: "TextSansReg", Arial, Tahoma, sans-serif;
  font-size: 12px;
  width:100%;
  height: 35px;
  background-color: #56DAA1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svgIcon{
  width:100px;
  height:35px;
}
.albumName{
  font-weight: bold;
  margin-bottom: 13px;
  font-size: 18px;
}
.svgIconApple{
  width:100px;
  height:25px;
  margin-top: 6px;
}
.playlistUrl{
  font-family:"TextSansReg", Arial, Tahoma, sans-serif;
}
.musicItemImgMobile{
  width: 75px;
  height: 75px;
  margin-left: auto;
  display: none;
}

@media screen and (max-width: 1024px) {
  .stageBoxSmallPaddingBoxStyle1{
    margin-bottom:20px;
  }
}
@media screen and (max-width: 768px) {
  .musicItem{
    justify-content: center;
  }
  .musicList{
    flex-direction:column;
  }
  .stageBoxInner {
    padding: 15px 20px 35px !important;
  }
  .albumName{
    font-size: 16px;
  }
  .musicItem{
    margin-bottom:20px;
    width:100%;
    padding-right:0;
  }
  .musicItem:first-child{
    margin-right:15px;
  }
  .musicItemBtn{
    margin-top: 20px;
  }
  .musicItem:last-child{
    padding-left:0;
  }

}
@media screen and (max-width: 480px) {
  .musicItemImage{
    flex-direction:row;
  }
  .musicItemImgMobile{
    display: block;
  }
  .musicItemPic{
    display: none;
  }
  .musicItemImage{
    margin-right:0;
  }
  .musicItemPic{
    height:auto;
  }
  .musicItemImg{
    width:100%;
    height:auto;
  }
  .musicItem{
    flex-direction:column;
  }
  .musicItemBtn{
    font-size:12px;
  }
  .svgIcon{
    width: 140px;
    height: 69px;
  }
  .svgIconApple{
    width: 140px;
    height: 63px;
  }
  .musicItemDesc{
    margin:0;
  }
  .musicItemImage {
    margin-right: 0;
  }
  .musicItemText{
    text-align: center;
  }
  .musicItem:last-child .musicItemImg{
    margin-top:0;
  }
}
