.ys-logo-web {
  fill: #fff;
  width: 127px;
  height: 43px;
}

.ico-m-tasks {
  width: 20px;
  height: 14px;
}

.ico-m-book {
  width: 19px;
  height: 20px;
}

.ico-m-food {
  width: 20px;
  height: 20px;
}

.ico-m-faq {
  width: 20px;
  height: 19px;
}

.ico-gift {
  width: 17px;
  height: 16px;
}

.ico-finish {
  width: 19px;
  height: 20px;
}

.ico-tick {
  width: 14px;
  height: 10px;
}

.ico-vk {
  width: 24px;
  height: 14px;
}

.ico-odnoklassniki {
  width: 12px;
  height: 19px;
}

.ico-fb {
  width: 11px;
  height: 19px;
}

.ico-arrow-up {
  fill: #70768c;
  width: 14px;
  height: 19px;
}

.ico-burger {
  width: 16px;
  height: 11px;
}

.ico-close {
  width: 20px;
  height: 20px;
}

.ico-trash {
  width: 15px;
  height: 20px;
}

.ico-gallery {
  width: 46px;
  height: 40px;
}

.ico-your-condition-1,
.ico-your-condition-2,
.ico-your-condition-3 {
  width: 39px;
  height: 30px;
}

.ico-arrow-accordion {
  width: 15px;
  height: 8px;
}

.ico-msg {
  width: 20px;
  height: 18px;
}

.ico-photo {
  width: 19px;
  height: 16px;
}

.ico-robokassa {
  width: 120px;
  height: 14px;
}

.ico-yandexkassa {
  width: 139px;
  height: 45px;
}

.ico-paymo {
  width: 119px;
  height: 40px;
}

.ico-copy {
  width: 19px;
  height: 19px;
}

.ico-share {
  width: 15px;
  height: 19px;
}

.ico-ava-white {
  width: 38px;
  height: 38px;
}

.ico-form-help {
  width: 20px;
  height: 20px;

  &:hover {
    opacity: 1;
  }
}

.ico-users {
  width: 20px;
  height: 20px;
}

.ico-chat {
  width: 20px;
  height: 18px;
}

.ico-warning {
  width: 19px;
  height: 19px;
}

.ico-done {
  width: 19px;
  height: 18px;
}

.ico-cross {
  width: 20px;
  height: 19px;
}

.ico-waiting {
  width: 20px;
  height: 19px;
}

.ico-bold-arrow-up,
.ico-bold-arrow-down {
  width: 20px;
  height: 11px;
}

.ico-content-min {
  width: 20px;
  height: 14px;
}

.ico-content-max {
  width: 20px;
  height: 17px;
}

.ico-task-play {
  width: 24px;
  height: 24px;
}

.ico-task-description {
  width: 20px;
  height: 16px;
}

.ico-task-photo {
  width: 24px;
  height: 22px;
}

.ico-task-done {
  width: 31px;
  height: 27px;
}

.ico-task-progress {
  width: 26px;
  height: 26px;
}

.ico-finish {
  width: 16px;
  height: 16px;
}

.ico-sausage {
  width: 21px;
  height: 21px;
}

.ico-emoji {
  width: 18px;
  height: 18px;
}

.ico-big-done {
  width: 34px;
  height: 34px;
}

.ico-big-refuse {
  width: 34px;
  height: 34px;
}

.ico-big-pending {
  width: 34px;
  height: 34px;
}

.ico-photo-side-1 {
  width: 26px;
  height: 81px;
}

.ico-photo-side-2,
.ico-photo-side-3 {
  width: 16px;
  height: 81px;
}

.ico-notify {
  width: 20px;
  height: 23px;
}

.ico-new-window {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 15px;
}

.ico-calendar {
  width: 20px;
  height: 18px;
}
