.css-ico-link {
	background: url("../../../public/assets/img/svg-sprite.svg") 100% 0 no-repeat;
	width: 25px;
	height: 25px;
}

.css-ico-notify {
	background: url("../../../public/assets/img/svg-sprite.svg") 0 0 no-repeat;
	width: 28px;
	height: 31px;
}

